@charset "utf-8";

@media (min-width: 768px) {
  nav .mobile-btn {
    display: none;
  }
  nav .global-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border-bottom: 3px solid #fff; */
    box-shadow: 0 3px #fff;
  }
  nav .global-menu li:nth-child(odd) a {
    border-right: 1px solid #fff;
  }
  nav .global-menu li:last-child a {
    border-bottom: none;
  }
}